### Input Output and Comments

In [2]:
a = 64

print(a)

64

In [8]:
a = input()

print(a)
print(type(a))

64.65
64.65
<class 'str'>

In [9]:
x = int(input())

print(x)
print(type(x))

64
64
<class 'int'>

In [11]:
y  = float(input())

print(y)
print(type(y))

65.5
65.5
<class 'float'>

In [15]:
y  = float(input("Enter the price of the car: "))

print(y)
print(type(y))

Enter the price of the car: 520000
520000.0
<class 'float'>

In [16]:
y  = float(input("Enter the price of the car: "))

print("The price of the car is ",y)
print(type(y))

Enter the price of the car: 52.56
The price of the car is  52.56
<class 'float'>

In [26]:
a,b = map(int, input("Enter two numbers: ").split())  # a and b are two numbers

print(a,b)
print("The sum of", a, "and", b, "is", a+b)
print("The sum of %d and %d is %d"%(a,b,a+b))
print("The sum of {0} and {1} is {2}".format(a,b,a+b))

Enter two numbers: 52 71
52 71
The sum of 52 and 71 is 123
The sum of 52 and 71 is 123
The sum of 52 and 71 is 123

In [28]:
'''This is multiple line comment
it use in this program.
for use of format specifier'''

a = 52.56
b = 71.94

c = b/a

print(c)

1.3687214611872145

In [23]:
print("%f"%c)

1.368721

In [25]:
print("%.3f"%c)

1.369

In [33]:
a,b,c = map(int, input().split())

print("%d,%d,%d"%(a,b,c))
print("Moon","Python", sep='$')

5 6 7
5,6,7
Moon$Python