# Basic Python

In [1]:
print("Hello World")

Hello World

In [2]:
A = 5

print(A)

5

In [4]:
A = 5
B = 15.56

print(A)
print(B)

print(A,B)

5
15.56
5 15.56

In [5]:
course = "Python for Research"

print(course)

Python for Research

In [6]:
print(type(A))

<class 'int'>

In [7]:
print(type(B))

<class 'float'>

In [8]:
print(type(course))

<class 'str'>

In [10]:
num1 = 12.5
num2 = 15

sum = num1 + num2

print(sum)
print(type(sum))

27.5
<class 'float'>

In [12]:
age = '24'

print(type(age))

num = int(age)

print(type(num))

<class 'str'>
<class 'int'>

In [13]:
num = 500

print(type(num))

s = str(num)

print(type(s))

<class 'int'>
<class 'str'>

In [14]:
name = "moon"

num = int(name)

print(type(num))

ValueError: invalid literal for int() with base 10: 'moon'

In [16]:
age = 12

print(type(age))

s = str(age)

print(type(s))

<class 'int'>
<class 'str'>